*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    
}

body{
    overflow-x: visible;
}

body{
    background-image: url("https://zoomcar-assets.zoomcar.com/images/original/a121667db0d5e435e48884b015120bc180a4ad2f.jpg?1661426287");
    background-size:cover;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    /* background: transparent; */
    position: relative;
 }
a{
    text-decoration: none;
    color: white;
}
.city-box{
    position: fixed;
    height: 100vh;
    width: 100vw;
    transition: all .2s;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.87);
    z-index: 999;
    display: none;
}
.city-box .city-inner{
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    height: 533px;
}

@media(min-width:1140px){
    .city-box .city-inner{
        height: 433px;
    }
}

.city-box .city-selection{
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.city-box .city-selection .city-list .title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 50px;
}

@media screen and (min-width:768px) {
    .city-box .city-selection .city-list .title{
        margin-bottom: 50px;
    }
}

.city-box .dropdown-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width:1140px) {
    .city-box .dropdown-wrapper{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
}

.city-box .dropdown-wrapper>div{
    max-width: 328px;
    width: 100%;
    margin: 0 30px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;

}

.city-box .dropdown-wrapper>div select{
    float: right;
    width: 100%;
    padding: 15px;
    color: #35495e;
    border: none;
    outline: none;
    
}

option{
    width: 100%;
    padding: 25px;
}


.city-box-btn{
    max-width: 328px;
    width: 100%;
    margin: auto;
    margin-top: 83px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
    padding: 16px 20px;
    border-radius: 4px;
    background-color: #10a310;
    display: block;
    border: none;
}

.city-box-btn[disabled]{
    background-color: #e0e0e0;
    color: #a8a8a8;
    border-color: #e0e0e0;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

.header{
    padding: 16px;
    background-color: #000;
    color: white;
    align-items: center;
    display: flex;
   
}
#ham{
    width: 30px;
    cursor: pointer;
}
.header>div:nth-child(2){
    padding-left: 10px;
    flex-grow: 8;
}
.header>div:nth-child(3){
    flex-grow: 2;
}


.header>#nav>ul{
    margin: 0;
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    gap: 80px;
    align-items: center;
    
}

.header>#nav>ul>li{
   margin: auto;
   cursor: pointer;
}

.icon-user{
    background-image: url("images\\icons_user.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 40px;
    height: 40px;
}


.selection{
    padding: 350px 16px 16px 16px;
    margin: 0px auto;
    max-width: 440px;
    font-size: 14px;
}

.ride-selection{
    display: inline-flex;
    padding: 8px 0;
}
.down-icon{
    background-image: url("images\\icons_chevron_chevron_down.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.box{
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    margin-bottom: 16px;
}
.box .wrap{
    background-color: white;
    border-radius: 4px;
}
.box .wrap-two{
    display: none;
}
.box .wrap-two::before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid #e0e0e0;
}
.select-address{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    color: #1f1f1f;
}

.green-icon{
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    background-color: #10a310;
    box-shadow: 0 0 8px 8px #e6ffea;
    margin-left: 8px;
    margin-right: 16px;
}
.red-icon{
    min-width: 8px;
    min-height: 8px;
    background-color: #e02d2d;
    box-shadow: 0 0 8px 8px #fff3f0;    
    margin-left: 8px;
    margin-right: 16px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.box .wrap .select-address .placeholder{
    color: #a8a8a8;
    flex: 1;
    padding-top: 16px;
    padding-bottom: 16px;
}

.selection .ride-time{
    padding: 16px;
    background-image: url("images\\icons-calendar.png");
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 50px;
    background-color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
}

.btn-wrapper .btn-primary[disabled]{
    background-color: #e0e0e0;
    color: #a8a8a8;
    border-color: #e0e0e0;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

.btn-wrapper .btn-primary{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    max-width: 440px;
    margin-top: 0;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    background-color: #10a310;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2),0 3px 1px -2px rgba(0,0,0,0.12),0 2px 2px 0 rgba(0,0,0,0.14);
}

.selection .separator{
    width: 30px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
}

.icon.icon-arrow-right{
    background-image: url("images\\icons-arrow-right-small.png");
    width: 20px;
    height: 20px;
    background-color: white;
}